<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;">
    <tr>
        <td align="center" bgcolor="#EAEAEA" style="padding: 40px 0 30px 0;">
            <img src="https://hangang-storage.s3.ap-northeast-2.amazonaws.com/email_banner/%EC%9D%B4%EB%A9%94%EC%9D%BC+%EC%9D%B8%EC%A6%9D+%EB%B2%A0%EB%84%88%EB%A7%8C.jpg" alt="Creating Email Magic" width="300" height="295" style="display: block;"/>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px; text-align: center;">
                        <b>학교 이메일 주소 인증</b>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px 0 30px 0; text-align: center; font-family: Arial, sans-serif;">
                        안녕하세요.<br><br>
                        한국기술교육대학교 커뮤니티 한강 운영팀입니다.<br>
                        <br>
                        비밀번호 변경을 위해 이메일 인증번호를 인증해주세요.<br><br>

                        <br><br>

                        <p>귀하의 이메일 인증 key는 <span th:text="${secret}"></span> 입니다</p>

                        <br><br>
                        이 메일은 1시간 뒤에 만료됩니다. 만료시 이메일 인증을 다시 시도해주세요.<br>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#2F2F2F" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="75%" style="color:white; font-family: Arial, sans-serif;">
                        Copyright BCSD Lab, TEAM_KAP All rights reserved.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>