<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hangang.mapper.admin.AdminReviewMapper">

    <select id="getReportedReview" resultType="in.hangang.domain.report.ReviewReport">
        SELECT l.id, r.content,b.type, l.user_id, l.content_id, re.comment, l.created_at, l.updated_at
        FROM hangang.report_log AS l
                 JOIN hangang.report AS r ON l.report_id = r.id
                 JOIN hangang.board_type AS b ON l.board_type_id = b.id
                 JOIN hangang.review AS re ON l.content_id = re.id
        WHERE l.board_type_id = 1 AND l.is_deleted = 0 AND re.is_deleted = 0;
    </select>

    <delete id="deleteReviewReported">
        UPDATE hangang.review SET is_deleted = 1 WHERE id = #{id};
        UPDATE hangang.review_assignment SET is_deleted = 1 WHERE review_id = #{id};
        UPDATE hangang.review_hash_tag SET is_deleted = 1 WHERE review_id = #{id};
        <!--
        UPDATE hangang.scrap_lecture SET is_deleted = 1 WHERE review_id = #{id};
        -->
        UPDATE hangang.likes SET is_deleted = 1 WHERE board_id = #{id};
        UPDATE hangang.report_log SET is_deleted = 1 WHERE content_id = #{id} AND board_type_id = 1;
    </delete>


</mapper>