<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hangang.mapper.HashTagMapper">
    <insert id="insertReviewHashTag">
        INSERT INTO hangang.review_hash_tag(review_id, hash_tag_id)
        VALUES
        <foreach item="hashTags" collection="hashTags" separator=",">
            (#{reviewId}, #{hashTags.id})
        </foreach>
    </insert>

    <insert id="insertHashTagCount">
        INSERT INTO hangang.hash_tag_count(type, lecture_id, hash_tag_id)
        VALUES(#{type}, #{lecture_id}, #{hash_tag_id})
    </insert>

    <select id="getHashTagByReviewId" resultType="in.hangang.domain.HashTag">
        SELECT id, tag FROM hangang.hash_tag
        WHERE id = any(SELECT hash_tag_id
                       FROM( SELECT hash_tag_id FROM hangang.review_hash_tag WHERE review_id = #{review_id}) as temp);
    </select>

    <select id="getCountHashTag" resultType="int">
        SELECT COUNT(*) FROM hangang.hash_tag_count
        WHERE type = #{type} and lecture_id = #{lecture_id} and hash_tag_id = #{hash_tag_id}
    </select>

    <select id="getTop3HashTag" resultType="in.hangang.domain.HashTag">
        SELECT id, tag FROM hangang.hash_tag WHERE id = any(SELECT hash_tag_id FROM hangang.hash_tag_top3 WHERE lecture_id = #{lecture_id})
    </select>

    <update id="countUpHashTag">
        <foreach collection="hashTags" item="hashTags" separator=";">
        INSERT INTO hash_tag_count(type, lecture_id, hash_tag_id) VALUES(0, #{lectureId}, #{hashTags.id})
        ON DUPLICATE KEY
        UPDATE count = count + 1
        </foreach>
    </update>

    <update id="updateTop3HashTag">
        DELETE FROM hash_tag_top3;
        INSERT INTO hangang.hash_tag_top3(lecture_id, hash_tag_id, count)
        SELECT a.lecture_id, a.hash_tag_id, a.count FROM
        ( SELECT lecture_id, hash_tag_id, count ,
        CASE WHEN @grp = lecture_id
        THEN @rownum:=@rownum + 1
        ELSE @rownum :=1
        END AS rownum , (@grp := lecture_id)
        AS dum FROM hangang.hash_tag_count, (SELECT @rownum:=0, @grp:='') r
        ORDER BY lecture_id, count DESC ) a WHERE rownum <![CDATA[<=]]> 3;
    </update>
</mapper>