<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hangang.mapper.LikesMapper">
    <select id="getLikesByReviewId" resultType="Long">
        SELECT count(*) FROM hangang.likes WHERE type = 0 AND board_id = #{board_id}
    </select>

    <select id="checkIsLikedByUserId" resultType="Long">
        SELECT count(*) FROM hangang.likes WHERE user_id = #{user_id} AND board_id = #{board_id}
    </select>

    <insert id="createLikesReview">
        INSERT INTO hangang.likes(type, user_id, board_id) VALUES(#{type}, #{user_id}, #{board_id})
    </insert>

    <delete id="deleteLikesReview">
        DELETE FROM hangang.likes WHERE user_id = #{user_id} AND board_id = #{board_id}
    </delete>
</mapper>