<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hangang.mapper.ReviewMapper">

    <select id="getReviewList" resultMap="review">
        SELECT * FROM hangang.review WHERE is_deleted = 0 LIMIT #{cursor}, #{limit}
    </select>

    <select id="getReviewById" resultMap="review">
        SELECT * FROM hangang.review WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="getReviewByLectureId" resultMap="review">
        SELECT * FROM hangang.review WHERE lecture_id = #{id} AND is_deleted = 0 LIMIT #{cursor}, #{limit}
    </select>

    <select id="getReviewListByUserId" resultMap="review">
        SELECT * FROM hangang.review WHERE user_id = #{userId}
    </select>

    <insert id="createReview" parameterType="in.hangang.domain.Review">
        <selectKey resultType="Long" keyProperty="return_id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO hangang.review (semester_date, user_id, rating, assignment_amount, difficulty,
        grade_portion, attendance_frequency, comment, lecture_id)
        VALUES( #{semester_date}, #{user_id}, #{rating}, #{assignment_amount}, #{difficulty},
        #{grade_portion}, #{attendance_frequency}, #{comment}, #{lecture_id} )
    </insert>



    <update id="updateReviewedAt">
        UPDATE hangang.lecture SET last_reviewed_at = now() WHERE id = #{lecture_id}
    </update>

    <update id="updateTotalRating">
        UPDATE hangang.lecture
        SET total_rating = ROUND((SELECT AVG(rating) FROM hangang.review WHERE lecture_id = #{lecture_id}), 2)
        WHERE id=#{lecture_id}
    </update>

    <delete id="deleteReviewById">
        UPDATE hangang.review SET is_deleted = 1
    </delete>

    <resultMap id="review" type="in.hangang.domain.Review">
        <result column="id" property="id"/>
        <result column="lecture_id" property="lecture_id"/>
        <result column="user_id" property="user_id"/>
        <result column="rating" property="rating"/>
        <result column="assignment_amount" property="assignment_amount"/>
        <result column="difficulty" property="difficulty"/>
        <result column="grade_portion" property="grade_portion"/>
        <result column="attendance_frequency" property="attendance_frequency"/>
        <result column="comment" property="comment"/>
        <result column="return_id" property="return_id"/>
        <result column="is_deleted" property="is_deleted"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
        <collection property="likes" javaType="Long" column="{board_id=id}" ofType="Long"
                    select="in.hangang.mapper.LikesMapper.getLikesByReviewId">
        </collection>
        <collection property="hash_tags" javaType="java.util.ArrayList" column="id" ofType="in.hangang.domain.HashTag"
                    select="in.hangang.mapper.HashTagMapper.getHashTagByReviewId">
        </collection>
        <collection property="nickname" javaType="String" column="{id=user_id}"
                    select="getNickNameByUserId">
        </collection>
        <collection property="assignment" javaType="java.util.ArrayList" column="id" ofType="in.hangang.domain.Assignment"
                    select="in.hangang.mapper.ReviewMapper.getAssignmentByReviewId">
        </collection>
    </resultMap>

    <select id="getNickNameByUserId" resultType="String">
        SELECT nickname FROM hangang.user WHERE id = #{id}
    </select>

    <select id="getClassByLectureId" resultType="java.util.HashMap">
        SELECT id, class, target FROM lecture_timetable
        WHERE name = (SELECT name FROM lecture WHERE id = #{lecture_id})
        AND professor = (SELECT professor FROM lecture WHERE id = #{lecture_id})
        AND semester_date = 5
        ORDER BY class
    </select>

    <select id="getReviewByUserIdAndLectureId" resultType="Long">
        SELECT id FROM hangang.review WHERE lecture_id = #{lecture_id} AND user_id = #{user_id}
    </select>

    <select id="getAssignmentByReviewId" resultType="in.hangang.domain.Assignment">
        SELECT id, name FROM hangang.assignment
        WHERE id = any(SELECT assignment_id
                       FROM( SELECT assignment_id FROM hangang.review_assignment WHERE review_id = #{review_id}) as temp);
    </select>

    <insert id="createReviewAssignment">
        INSERT INTO hangang.review_assignment(review_id, assignment_id) VALUES(#{review_id}, #{assignment_id})
    </insert>

    <select id="getLectureIdByReviewId" resultType="Long">
        SELECT lecture_id FROM hangang.review WHERE id = #{id}
    </select>
</mapper>