<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hangang.mapper.TimetableMapper">
    <select id="getTableListByUserId" resultType="in.hangang.domain.UserTimetable">
        SELECT id, semester_date_id, name FROM hangang.user_timetables WHERE user_id = #{user_id} AND is_deleted = 0;
    </select>

    <select id="getClassTime" resultType="String">
        SELECT class_time FROM hangang.lecture_timetable WHERE id = #{lectureId};
    </select>

    <select id="getClassTimeList" resultType="String">
        SELECT class_time FROM lecture_timetable WHERE id = ANY(select lecture_id from timetables where user_timetable_id = 1);
    </select>

    <select id="getUserIdByTimeTableId" resultType="Long">
        SELECT user_id FROM user_timetables WHERE id = #{timeTableId} AND is_deleted=0;
    </select>

    <select id="getNameByTimeTableId" resultType="String">
        SELECT name FROM user_timetables WHERE id = #{timeTableId} AND is_deleted=0;
    </select>

    <insert id="createTimetable">
        INSERT INTO hangang.user_timetables(user_id, semester_date_id, name) VALUES(#{user_id}, #{semester_date_id}, #{name});
    </insert>

    <update id="deleteTimetable">
        UPDATE user_timetables SET is_deleted = 1 WHERE id = #{timeTableId};
    </update>
</mapper>