<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.hangang.mapper.UserMapper">

    <insert id="signUp">
        INSERT INTO hangang.user (portal_account, password, nickname)
        VALUES(#{portal_account}, #{password}, #{nickname})
    </insert>
    <update id="setSalt">
        UPDATE hangang.user SET salt = #{salt} WHERE id=#{user_id}
    </update>

    <select id="getUserIdFromPortal" resultType="Long">
        SELECT id FROM hangang.user WHERE portal_account =#{portal_account} and is_deleted = 0
    </select>

    <select id="getUserIdFromPortalForReSignUp" resultType="Long">
        SELECT id FROM hangang.user WHERE portal_account = #{portal_account} and is_deleted = 1
    </select>

    <select id="getUserByNickName" resultType="String">
        SELECT nickname FROM hangang.user WHERE nickname = #{nickname} and is_deleted = 0
    </select>

    <select id="getPasswordFromPortal" resultType="in.hangang.domain.User">
        SELECT password,nickname,id FROM hangang.user WHERE portal_account = #{portal_account} and is_deleted = 0
    </select>

    <select id="getSalt" resultType="String">
        SELECT salt FROM hangang.user WHERE id=#{id} and is_deleted = 0
    </select>

    <insert id="setAuthNumber">
        INSERT INTO hangang.auth_number(ip,portal_account, secret,flag, expired_at) VALUES (#{ip},#{portal_account}, #{secret},#{flag}, #{expired_at} )
    </insert>

    <select id="getSecret" resultType="in.hangang.domain.AuthNumber">
        SELECT id,ip, secret,flag, expired_at FROM hangang.auth_number WHERE portal_account = #{portal_account} and flag = #{flag} and is_deleted = 0
    </select>
    <update id="setIs_authed">
        UPDATE hangang.auth_number   SET is_authed = #{is_authed} WHERE id=#{id} and flag=#{flag}
    </update>
    <select id="getAuthTrue" resultType="in.hangang.domain.AuthNumber">
        SELECT is_authed FROM hangang.auth_number WHERE is_authed = 1 and portal_account =#{portal_account} and flag=#{flag} and is_deleted = 0
    </select>

    <update id="findPassword">
        UPDATE hangang.user set password=#{password} WHERE portal_account=#{portal_account}
    </update>
    <select id="getMajor" resultType="String">
        SELECT major FROM hangang.major WHERE user_id = #{id} and is_deleted = 0
    </select>

    <select id="authNumberAllSoftDeleteAfterUse" resultType="Integer" >
        SELECT COUNT(*) FROM hangang.auth_number WHERE portal_account = #{portal_account} and ip = #{ip} and created_at BETWEEN #{start} AND #{end}
    </select>

    <update id ="expirePastAuthNumber">
        UPDATE hangang.auth_number SET expired_at = #{expired_at}, is_deleted = 1
        WHERE portal_account = #{portal_account} and ip = #{ip} and flag=#{flag} and is_deleted = 0
    </update>

    <update id="authNumberSoftDelete">
        UPDATE hangang.auth_number SET is_deleted = 1 WHERE id=#{id}
    </update>

    <select id="getRole" resultType="String">
        SELECT
        r.role
        FROM hangang.user AS u
        JOIN hangang.admin AS a ON a.user_id = u.id
        JOIN hangang.admin_role AS r ON a.admin_role_id = r.id
        WHERE u.id = #{U_id}
        LIMIT 1;
    </select>

    <select id = "getMe" resultMap="userAll">
        SELECT
        <include refid="user-all">
            <property name="prefix" value="U_"/>
            <property name="alias" value=""/>
        </include>
        FROM hangang.user WHERE id = #{id} and is_deleted = 0
        LIMIT 1;
    </select>
    <select id="getLectureBankCount" resultType="Long">
        SELECT COUNT(*) FROM hangang.lecture_bank WHERE user_id=#{id} and is_deleted = 0;
    </select>

    <select id="getLectureReviewCount" resultType="Long">
        SELECT COUNT(*) FROM hangang.review WHERE user_id=#{id} and is_deleted = 0;
    </select>

    <select id="getLectureBankCommentCount" resultType="Long">
        SELECT COUNT(*) FROM hangang.lecture_bank_comment WHERE user_id=#{id} and is_deleted = 0;
    </select>

    <insert id="addPointHistory">
        INSERT INTO hangang.user_point_history(user_id,variance,point_type_id) VALUES(#{user_id}, #{variance}, #{pointTypeId})
    </insert>

    <select id="getUserPointHistory" resultType="in.hangang.domain.PointHistory">
        SELECT up.id, up.user_id, type.title,up.variance, created_at
        FROM hangang.user_point_history AS up
        JOIN hangang.point_type AS type
        ON up.point_type_id = type.id
        WHERE up.user_id = #{id}
    </select>
    <resultMap id="userAll" type="in.hangang.domain.User">
        <result column="U_id" property="id"/>
        <result column="U_name" property="name"/>
        <result column="U_portal_account" property="portal_account"/>
        <result column="U_nickname" property="nickname"/>
        <result column="U_point" property="point"/>
        <result column="U_is_deleted" property="is_deleted"/>
        <result column="U_created_at" property="created_at"/>
        <result column="U_updated_at" property="updated_at"/>
        <association property="role" column="U_id" javaType="String" select="getRole"></association>
        <collection column="U_id" property="authorityList" javaType="java.util.ArrayList" ofType="in.hangang.domain.Authority" select="getAuthority"/>
        <collection  column="U_id" property="major" javaType="java.util.ArrayList"  ofType="String" select="getMajor"> </collection>
    </resultMap>

    <select id="getAuthority" resultType="in.hangang.domain.Authority">
        SELECT au.id, au.authority FROM hangang.user AS u
        JOIN hangang.admin AS a ON a.user_id = u.id
        JOIN hangang.admin_authority AS au ON a.admin_authority_id = au.id
        WHERE u.id = #{U_id};
    </select>


    <sql id="user-all">
        ${alias}id AS ${prefix}id
        ,${alias}name AS ${prefix}name
		,${alias}portal_account AS ${prefix}portal_account
		,${alias}nickname AS ${prefix}nickname
		,${alias}point AS ${prefix}point
		,${alias}is_deleted AS ${prefix}is_deleted
        ,${alias}created_at AS ${prefix}created_at
        ,${alias}updated_at AS ${prefix}updated_at
    </sql>


    <insert id="insertMajors" >
        INSERT INTO hangang.major(user_id, major) VALUES
        <foreach collection="major" item="m" separator=",">
            (#{id}, #{m})
        </foreach>
    </insert>

    <insert id="reSignMajors" >
        DELETE FROM hangang.major WHERE user_id = #{id};
        INSERT INTO hangang.major(user_id, major) VALUES
        <foreach collection="major" item="m" separator=",">
            (#{id}, #{m})
        </foreach>
    </insert>


    <insert id="updateUser" >
        UPDATE hangang.user SET nickname = #{nickname}
        <choose>
            <when test="@org.apache.commons.lang3.ObjectUtils@isNotEmpty(name)">
                ,name = #{name}
            </when>
            <otherwise>
                ,name = null
            </otherwise>
        </choose>
        WHERE id = #{id} and is_deleted=0;
        DELETE FROM hangang.major WHERE user_id = #{id};
        INSERT INTO hangang.major(user_id, major) VALUES
        <foreach collection="major" item="m" separator=",">
            (#{id}, #{m})
        </foreach>
    </insert>



    <update id="reSignUp" >
        UPDATE hangang.user SET is_deleted = 0, nickname = #{nickname}, password=#{password}, salt=#{salt} where id = #{id}
    </update>

    <update id="softDeleteUser">
        UPDATE hangang.user SET is_deleted = 1, nickname = #{nickname} WHERE id = #{id}
    </update>
    
    <sql id="UserLectureBank">
        ${alias}id AS ${prefix}id
        ,${alias}user_id AS ${prefix}user_id
		,${alias}title AS ${prefix}title
    </sql>

    <sql id="UserLecture">
        ${alias}id AS ${prefix}id,
        ${alias}professor AS ${prefix}professor
		,${alias}name AS ${prefix}name
    </sql>

    <sql id="UserFile">
        ${alias}id AS ${prefix}id
		,${alias}ext AS ${prefix}ext
        ,${alias}filename AS ${prefix}filename
    </sql>
    
    <resultMap id="userPurchase" type="in.hangang.domain.UserLectureBank">
        <result column="B_id" property="id"/>
        <result column="B_user_id" property="user_id"/>
        <result column="B_title" property="title"/>
        <association property="lecture" resultMap="UserLectureMap"></association>
        <collection  column="P_user_id" property="uploadFiles" javaType="java.util.List"  ofType="in.hangang.domain.UploadFile" select="getUserUploadFiles"> </collection>
    </resultMap>

    <resultMap id="UserLectureMap" type="in.hangang.domain.Lecture">
        <result column="L_id" property="id"></result>
        <result column="L_professor" property="professor"/>
        <result column="L_name" property="name"/>
    </resultMap>

    <select id="getUserPurchasedLectureBank" resultMap="userPurchase">
        SELECT
        <include refid="UserLectureBank">
            <property name="prefix" value="B_"/>
            <property name="alias" value="b."/>
        </include>,
        <include refid="UserLecture">
            <property name="prefix" value="L_"/>
            <property name="alias" value="l."/>
        </include>,
        p.user_id AS P_user_id
        FROM hangang.user AS u
        JOIN hangang.lecture_bank_purchase AS p ON u.id = p.user_id
        JOIN hangang.lecture_bank AS b ON p.lecture_bank_id = b.id
        JOIN hangang.lecture AS l ON b.lecture_id = l.id
        WHERE u.id=#{id} and  u.is_deleted = 0 and p.is_deleted = 0 and b.is_deleted = 0;
    </select>

    <select id="getUserUploadFiles" resultType="in.hangang.domain.UploadFile">
        SELECT
        <include refid="UserFile">
            <property name="prefix" value=""/>
            <property name="alias" value="f."/>
        </include>
        FROM hangang.user AS u JOIN hangang.lecture_bank_purchase AS p ON u.id = p.user_id
        JOIN hangang.upload_file AS f ON f.lecture_bank_id = p.lecture_bank_id
        WHERE u.id=#{P_user_id};
    </select>

    <insert id="grantAuthority">
        INSERT INTO hangang.admin(user_id, admin_authority_id, admin_role_id) VALUES(#{id}, #{flag}, 2)
    </insert>
    <delete id="deleteAuthority">
        DELETE FROM hangang.admin WHERE user_id = #{id} and admin_authority_id = #{flag}
    </delete>
</mapper>
